<table class="table">
    <thead>
        <tr>
            <th scope="col" class="table-info">#</th>
            <th scope="col" class="table-info">Bandera</th>
            <th scope="col" class="table-info">Nombre</th>
            <th scope="col" class="table-info">Población</th>
            <th scope="col" class="table-info"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pais of paises, let i = index">
            <td class="table-secondary">{{i+1}}</td>
            <td class="table-secondary"><img [src]="pais.flag" alt="no disponible" style="width: 30px; height: 20px;"/></td>
            <td class="table-secondary">{{pais.name}}</td>
            <td class="table-secondary">{{pais.population}}</td>
            <td class="table-secondary">
                <button type="button" class="btn btn-success" [routerLink] = "['/pais', pais.alpha2Code]" >Ver mas...</button>
            </td>
        </tr>
    </tbody>
</table>
